<h1>ICI SE TROUVE TOUTES LES CELEBRITES</h1>
<h2>il doit y avoir des cards de toutes les celebrites quand je clique dessus je dois atterrir dans la "SHOW" de la celebrite et donc celebrite/:id</h2>

<h3>je peux rechercher ici dans cette text area une celebrite</h3>
<input type="text">
