<h1>ICI DOIT S'AFFICHER UNE CELEBRITE</h1>

<div class="container">
<%= @celibrity.name %>

<%= @celibrity.rating %>

<%= @celibrity.price %>

<button class="btn btn-primary">Louer ?</button>

</div>
