.louer {
  width: 100%
}

.button-louer {
    border: none;
    width: 50%;
    box-shadow: 0px 0px 8px 0px #1c4126;
    background:linear-gradient(to bottom, #0e7a3b 5%, #078925 100%);
    background-color:#0e7a3b;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:16px;
    padding:8px 32px;
    text-decoration:none;
    text-shadow:0px 0px 0px #63f98e;

}

.button-louer:hover {
  background:linear-gradient(to bottom, #21a03f 5%, #1a9818 100%);
  background-color:#21d64b;
}

.button-louer:active {
  position:relative;
  top:1px;
}

.button-modifier {
  border: none;
  width: 50%;
  background-color:#146bdc;
  box-shadow: 0px 0px 8px 0px #081327;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  color:#fcfcfc;
  font-size:16px;
  padding:8px 32px;
  text-decoration:none;
  text-shadow:0px 0px 0px #939393;
}

.button-modifier:hover {
	background-color:#387ef6;
}

.button-modifier:active {
	position:relative;
	top:1px;
}

.button-delete {

  width: 50%;
	box-shadow: 0px 0px 8px 0px #3f0e0e;
	background-color:#941717;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding:8px 32px;
	text-decoration:none;
	text-shadow:0px 0px 0px #98999b;
}
.button-delete:hover {
	background-color:#e04141;
}
.button-delete:active {
	position:relative;
	top:1px;
}
