<div class="enonce my-3 py-3">
<h2>Ajoutez un commentaire à votre célébrité </h2>
<p>Vous venez de passer un moment avec votre célébrité préférée, partagez nous votre expérience</p>
</div>

      <div class="formulaire infos-card rounded-4 p-5">
        <%= simple_form_for [@celebrity, @review] do |f| %>
        <%= f.input :rating, label: "Note"%>
        <%= f.input :comment, label: "Commentaire" %>
        <div class="d-flex justify-content-center align-items-end pt-5"><%= f.submit "Valider votre avis", class: "button-louer" %></div>
        <% end %>
      </div>
