<nav class="navbar-aaa">

  <div class="navbar-aaa-container">

    <div class="logo-accueil">
      <a href="/celebrities">Accueil</a>
    </div>

    <div class="search-celebrity">
      <input type="text" placeholder="cherche une célébrité">
      <%= link_to "Mettre ma célébrité en location", new_celebrity_path %>
    </div>

    <div class="dashboard">
      <a href="">Mes célébrités</a>
      <a href="">Mes avis</a>
      <a href="">Déconnexion</a>
      <%# <%= link_to "Dashboard", root_path %>
    </div>

  </div>

</nav>
